@model IEnumerable<EmployeeManagementWeb.Models.Employee>

@{
    ViewData["Title"] = "GetAll_EmployeeDeatil";
}

<h1>GetAll_EmployeeDeatil</h1>

<p>
    <a asp-action="EmployeeDeatil" class="btn btn-primary">Create New Employee</a>
</p>
<table class="table table-bordered  table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>

            <td>
                    @Html.ActionLink("Edit", "EditEmployeeDeatil", new { id = item.Id },new { @class = "btn btn-primary"}) |
                    @Html.ActionLink("Delete", "DeleteEmployeeDeatil", new { id = item.Id }, new { @class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
    